@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin:0; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.bg {
    background: url('https://static.wixstatic.com/media/8536f5_b473ce32a63c42f1b0edc004d0ba2dc7~mv2.jpg/v1/fill/w_1480,h_767,al_c,q_90/8536f5_b473ce32a63c42f1b0edc004d0ba2dc7~mv2.webp') no-repeat center  center/cover;    
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}


.loading-text {
    font-size: 50px;
    color: #fff;
}